#app {
    min-width: 300px;
    max-width: 960px;
    margin: 0 auto;
}

#app > .card {
    margin: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}


@keyframes progress-animation {
  0% {
    width: 0%;
    left: 0;
  }
  49% {
    width: 100%;
    left: 0;
  }
  50% {
    width: 0;
    left: 100%;
  }
  100% {
    width: 100%;
    left: 0;
  }
}

.progress {
  position: relative;
  height: 5px;
  background-color: dodgerblue;
  animation-name: progress-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}